<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Medicos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>


<br>
<br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Añadir Medico</h1>
                <div class="card-body">
                    <form th:action="@{/cntmedico}" method="post" th:object="${elmedico}">
                        <div class="form-group">
                            <label class="control-label" for="identificacion">Identificación: </label> <input
                                id="identificacion" type="number" class="form-control" th:field="*{identificacion}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="nombre">Nombre : </label> <input
                                id="nombre" type="text" class="form-control" th:field="*{nombre}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="estado">Estado: </label> <input
                                id="estado" type="text" class="form-control" th:field="*{estado}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_rol">Rol : </label> <input
                                id="id_rol" type="number" class="form-control" th:field="*{rol}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_consultorio">Rol : </label> <input
                                id="id_consultorio" type="number" class="form-control" th:field="*{id_consultorio}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_especialidad">Rol : </label> <input
                                id="id_especialidad" type="number" class="form-control" th:field="*{id_especialidad}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_sede">ID Registro : </label> <input
                                id="id_sede" type="number" class="form-control" th:field="*{id_sede}"
                                required autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_registro">ID Registro : </label> <input
                                id="id_registro" type="number" class="form-control" th:field="*{id_registro}"
                                required autofocus="autofocus">
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br> <br>
    </div>
</div>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">

</script>
</body>
