<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title> Registrarse </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<div class="card-body">
    <h1>EPS Nuestra Salud SAS</h1>
    <h2>Registro de Usuario</h2>
    <form th:action="@{/crearregistro}" method="post" th:object="${elregistro}">
        <div class="form-group">
            <label class="control-label" for="tipo_identificacion">Tipo de Identificación:</label>
            <select id="tipo_identificacion" class="form-control" name="tipo_identificacion" required autofocus>
                <option value="">Seleccione el tipo de identificación</option>
                <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                <option value="Cedula de ciudadanía">Cédula de ciudadanía</option>
                <option value="Cedula de Extranjería">Cédula de Extranjería</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="id_usuario">Identificación: </label> <input
                id="id_usuario" type="number" class="form-control" th:field="*{id_usuario}"
                required autofocus="autofocus" min="10000000" max="9999999999">
        </div>
        <div class="form-group">
            <label class="control-label" for="fechaNacimiento">Fecha Nacimiento: </label> <input
                id="fechaNacimiento" type="date" class="form-control" th:field="*{fechaNacimiento}"
                required autofocus="autofocus">
        </div>
        <div class="form-group">
            <label class="control-label" for="nombre">Nombre Completo: </label> <input
                id="nombre" type="text" class="form-control" th:field="*{nombre}"
                required autofocus="autofocus">
        </div>
        <div class="form-group">
            <label class="control-label" for="celular">Celular : </label> <input
                id="celular" type="number" class="form-control" th:field="*{celular}"
                required autofocus="autofocus" min="3000000000" max="3999999999">
        </div>
        <div class="form-group">
            <label class="control-label" for="direccion">Dirección : </label> <input
                id="direccion" type="text" class="form-control" th:field="*{direccion}"
                required autofocus="autofocus">
        </div>
        <div class="form-group">
            <label class="control-label" for="genero">Genero : </label>
            <select id="genero" class="form-control" name="genero" required autofocus="autofocus">
                <option value="">Seleccione el género</option>
                <option value="Femenimo">Femenimo</option>
                <option value="Masculino">Masculino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="correo">Correo : </label> <input
                id="correo" type="email" class="form-control" th:field="*{correo}"
                required autofocus="autofocus">
        </div>
        <div class="form-group">
            <label class="control-label" for="contraseña">Contraseña : </label> <input
                id="contraseña" type="password" class="form-control" th:field="*{contraseña}"
                required autofocus="autofocus">
        </div>

        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Registrarse</button>
            <span>Ya estoy registrado<a th:href="@{/iniciar_sesion}">Iniciar Sesión</a></span>
        </div>
    </form>
</div>
</body>
</html>